/* FON -------------------- */

body::before {
  content: '';
  position: fixed; 
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: -10; 
  background: url("https://firebasestorage.googleapis.com/v0/b/goodtime-16b9c.appspot.com/o/fon.jpg?alt=media&token=161973d4-d3a4-4893-b419-558374f5a473") center / cover no-repeat;
  filter: blur(4px);
}

body {
margin: 0px;
}

/* FORM ------------------ */

.form {
  width: 100%;  
  height: 100%;
  margin: 0 auto;
  margin-top: 0px;
  margin-block-end: 0em;
  background:#FEE7CA;
}

header {
  position: fixed;
  width: 100%;  
  height: 13%;
  background: #FEE7CA;
  z-index: 1;
  box-sizing: border-box;
}

nav {
  width: 100%;
  top: 25%;
  position: relative;
}

.header {
	position: relative;
  margin: 0 auto;
  width: 24%;
}

.header img {
  width: 100%;
}

.header_sport {
  position: relative;
  margin: 0 auto;
  width: 60%;
}

.header_sport img {
  width: 100%;
}

.back {
  left: 3%;
  width: 4.5%;
  position: absolute;
  margin-top: 1.5%;
}

.back img {
  width: 100%;
}

/* BLOCKS ------------------- */

.blocks {
  position: relative;
  width: 100%;  
  height: 100%;
  background:  #FEE7CA;
  top:13%;
}

.blocks div {
  width: 100%;  
  height: 9.5%;
  text-align: center;
 }

.blocks a {
  font:28px ‘Roboto’, Arial, Helvetica, sans-serif;
  font-weight:bold;
  text-decoration: none;
  color: white;
  line-height: 72px;
}

 /* COLOR --------------------- */

 #onecolor {
  background-color: #1E7B60;
 }
  #twocolor {
  background-color: #88A053;
 }
 #threecolor {
  background-color: #2B3D4A;
 }
 #fourcolor {
  background-color: #295B57;
 }
 #fivecolor {
  background-color: #648140;
 }
#sixcolor {
  background-color: #281E37;
 }

 /* ADAPTING -------------------- */

@media screen and (max-width: 1920px) {
  .form {
     width: 420px;
  }
  header {
    width: 420px;
  }
}

@media screen and (max-width: 1370px) {
  .form {
     width: 420px;
  }
  header {
    width: 420px;
    height: 100px;
  }
  .blocks {
    top: 100px;
  }
  .blocks div {
    height: 68px;
  }
}

@media screen and (max-width: 420px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  .blocks div {
    height: 9.5%;
  }
 }



