/* CLEANING ------------------ */

*{padding: 0;
	margin: 0;
	border: 0;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* FON -------------------- */

body::before {
  content: '';
  position: fixed; 
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: -10; 
  background: url("../images/menu/background.jpg") center / cover no-repeat;
  filter: blur(4px);
}

body {
margin: 0px;
}

/* FORM ------------------ */

.form {
  width: 100%;  
  height: 100%;
  margin: 0 auto;
  margin-top: 0px;
  margin-block-end: 0em;
  background:#FEE7CA;
}

header {
  position: fixed;
  width: 100%;  
  height: 14%;
  background:#FEE7CA;
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: center;
}

header p {
  margin: 0 auto;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(180deg, rgb(32, 184, 138) , rgb(39, 31, 55));
}

.header {
  font:47px ‘Roboto’, sans-serif;
  font-weight:800;
}

.long_header {
  font:37px ‘Roboto’, sans-serif;
  font-weight: 800;
}

.very_long_header {
  font:27px ‘Roboto’, sans-serif;
  font-weight: 800;
}

.back {
 width: 4.5%;
 position: absolute;
 top: 50%;
 left: 3%;
 transform: translateY(-50%);
 z-index: 1;
 cursor: pointer;
}

/* BLOCKS ------------------- */

.block_contact {
    position: relative;
    width: 100%;  
    height: 30%;
    background:  #FEE7CA;
    top:14%;
    display: flex;
  align-items: center;
  text-align: center;

  }
  
   .block_contact p {
    font:23px ‘Roboto’,Century Gothic, sans-serif;
    font-weight:bold;
    text-decoration: none;
    color: white;
    padding: 5% 3%;
    line-height: 30pt;
    margin:0 auto;
    background-color: #1E7B60;
  }

  /* ICONS -------------------- */

.icons {
    width: 100%;
    margin: 7% 0 0 10%; 
    box-sizing: border-box;
    position: relative;
    text-align: left;
  }
  
  .icons div{
    width: 100%;  
    height: 9%;
    margin-left: 0;
    margin-bottom: 4%;
    padding: 4% 0;
  }
  
  .icons span {
    position: relative;
    font:22px ‘Roboto’,Century Gothic, sans-serif;
    padding-left: 3%;
    top: 1.5%;
    font-weight: bold;
    color: #104d43;
  }
  
  .icons a {
    color: #104d43;
  }
  
  .icons img {
    width: 9%;
    position: relative;
  }
   
  /* ADAPTING -------------------- */

 @media screen and (max-width: 9999px) {
    .form {
       width: 27%;
    }
    header {
      width: 27%;
    }
  }
  
  @media screen and (max-width: 2000px) {
    .form {
       width: 27%;
    }
    header {
      width: 27%;
    }
    .block_contact p {
      font-size: calc(20px + (20 + 20 * 0.7) * ((100vw - 1280px) / 2000));
      line-height: calc(25pt + (25 + 25 * 0.7) * ((100vw - 1280px) / 2000));
    }
    .header {
      font-size: calc(40px + (30 + 30 * 0.7) * ((100vw - 1280px) / 2000));
    }
    .long_header {
      font-size: calc(29px + (27 + 27 * 0.7) * ((100vw - 1280px) / 2000));
    }
    .very_long_header {
      font-size: calc(22px + (23 + 23 * 0.7) * ((100vw - 1280px) / 2000));
    }
    .icons span {
      font-size: calc(20px + (15 + 15 * 0.7) * ((100vw - 1280px) / 2000));
    }
  
  }
  
  @media screen and (max-width: 1030px) {
    .form {
      width: 70%;
    }
    header {
      width: 70%;
    }
    .header {
      font-size: 85px;
    }
    .long_header {
      font-size: 60px;
    }
    .very_long_header {
      font-size: 45px;
    }
    .block_contact p {
      font-size: 40px;
      line-height: 50pt;
    }
    .icons span {
      font-size: 40px;
    }
   }
  
   @media screen and (max-width: 770px) {
    .form {
      width: 70%;
    }
    header {
      width: 70%;
    }
    .header {
      font-size: 65px;
    }
    .long_header {
      font-size: 45px;
    }
    .very_long_header {
      font-size: 33px;
    }
    .block_contact p {
      font-size: 30px;
      line-height: 40pt;
    }
    .icons span {
      font-size: 30px;
    }
   }
  
   @media screen and (max-width: 540px) {
    .form {
      width: 75%;
    }
    header {
      width: 75%;
    }
    .header {
      font-size: 45px;
  }
  .long_header {
    font-size: 32px;
  }
  .very_long_header {
    font-size: 24px;
  }
  .block_contact p {
    font-size: 23px;
    line-height: 30pt;
  }
    .icons span {
      font-size: 22px;
    }
   }
  
  @media screen and (max-width: 440px) {
    .form {
      width: 100%;
    }
    header {
      width: 100%;
    }
    .header {
      font-size: 47px;
    }
  .long_header {
    font-size: 32px;
  }
  .very_long_header {
    font-size: 25px;
  }
  .block_contact p {
    font-size: 23px;
    line-height: 30pt;
  }
    .icons span {
      font-size: 23px;
    }
   }
  
   @media screen and (max-width: 385px) {
    .form {
      width: 100%;
    }
    header {
      width: 100%;
    }
    .header {
      font-size: 45px;
    }
  .long_header {
    font-size: 30px;
  }
  .very_long_header {
    font-size: 24px;
  }
  .block_contact p {
    font-size: 21px;
    line-height: 27pt;
  }
    .icons span {
      font-size: 21px;
    }
   }
  
   @media screen and (max-width: 365px) {
    .form {
      width: 100%;
    }
    header {
      width: 100%;
    }
    .header {
      font-size: 41px;
    }
  .long_header {
    font-size: 30px;
  }
  .very_long_header {
    font-size: 22px;
  }
  .block_contact p {
    font-size: 20px;
    line-height: 25pt;
  }
    .icons span {
      font-size: 20px;
    }
  }
  
   @media screen and (max-width: 330px) {
    .form {
      width: 100%;
    }
    header {
      width: 100%;
    }
    .header {
      font-size: 37px;
    }
  .long_header {
    font-size: 27px;
  }
  .very_long_header {
    font-size: 20px;
  }
  .block_contact p {
    font-size: 18px;
    line-height: 23pt;
  }
    .icons span {
      font-size: 18px;
    }
  }