/* CLEANING ------------------- */

*{padding: 0;
	margin: 0;
	border: 0;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* FON ------------------- */

body::before {
  content: '';
  position: fixed; 
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: -10; 
  background: url("../images/menu/background.jpg") center / cover no-repeat;
  filter: blur(4px);
}
body {
  margin: 0px;
}

/* FORM -------------------- */

.form {
  width: 100%;  
  height: 100%;
  margin: 0 auto;
  margin-top: 0px;
  margin-block-end: 0em;
}

header {
  position: fixed;
  width: 100%;  
  height: 14%;
  display: table;
  z-index: 2;
  background-color: #FEE7CA;
}

p.long_header{
  font-size: 18px;
  }
  
  p.header {
    font-size: 25px;
  }

header>p{
  text-align: center;
  font:25px ‘Roboto’,Century Gothic, sans-serif;
  font-weight: 800;
  color: #FEE7CA;
  background: linear-gradient(-135deg, rgb(26, 127, 97) , rgb(39, 31, 55));
  display: table-cell;
  vertical-align: middle;
}

.back {
  width: 4.5%;
 position: absolute;
 top: 50%;
 left: 3%;
 margin-top: -4%;
 z-index: 1;
}

/* PHOTO ------------------ */

.form_photo {
    position: relative;
    width: 100%;  
    height: 100%;
    background:  #FEE7CA;
    margin: 0 auto;
  }
  
  .icons {
    padding:  4% 0 4% 8%;
    box-sizing: border-box;
    position: relative;
    top: 14%;
  }
  
  .icons li {
    width: 25%;
    height: 12%;
    margin: 0 7% 3.5% 0;
    position: relative;
    display: inline-block;
  }

  .height {
    width: 100%;
    height: 100%;
    position: relative;
}

  .width {
      width: 100%;
   transition: all 1s ease-out;
   position: relative;
  }
/* ANIMATION ------------------- */


.width{
   transition: all 1s ease-out;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  max-width: 550px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/*
.width:hover{
   transform: scale(4);
   z-index: 1;
}
*/

/* ADAPTING -------------------- */

@media screen and (max-width: 9999px) {
  .form {
     width: 27%;
  }
  header {
    width: 27%;
  }
}

@media screen and (max-width: 2000px) {
  .form {
    width: 27%;
 }
 header {
   width: 27%;
 }
 p.header {
  font-size: calc(22px + (17 + 17 * 0.7) * ((100vw - 1280px) / 2000));
 }
 p.long_header{
  font-size: calc(16px + (12 + 12 * 0.7) * ((100vw - 1280px) / 2000));
 }
 .text p{
   font-size: calc(14px + (13 + 13 * 0.7) * ((100vw - 1280px) / 2000));
 }
 .icons_pro p {
  font-size: calc(8px + (9 + 9 * 0.7) * ((100vw - 1280px) / 2000));
 }
}

@media screen and (max-width: 1030px) {
  .form {
     width: 70%;
  }
  header {
    width: 70%;
  }
  p.header {
    font-size: 45px;
  }
  p.long_header{
    font-size: 32px;
    }
  .text p{
    font-size: 30px;
  }
  .icons_pro p {
    font-size: 17px;
  }
}

@media screen and (max-width: 770px) {
  .form {
     width: 70%;
  }
  header {
    width: 70%;
  }
  p.header {
    font-size: 35px;
  }
  p.long_header{
    font-size: 23px;
    }
  .text p{
    font-size: 22px;
  }
  .icons_pro p {
    font-size: 13px;
  }
}

@media screen and (max-width: 540px) {
  .form {
     width: 75%;
  }
  header {
    width: 75%;
  }
  p.header {
    font-size: 26px;
  }
  p.long_header{
    font-size: 17px;
    }
  .text p{
    font-size: 17px;
  }
  .icons_pro p {
    font-size: 10px;
  }
}

@media screen and (max-width: 440px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  p.header {
    font-size: 25px;
  }
  p.long_header{
    font-size: 18px;
    }
  .text p{
    font-size: 17px;
  }
  .icons_pro p {
    font-size: 10px;
  }
 }

 @media screen and (max-width: 385px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  p.header {
    font-size: 24px;
  }
  p.long_header{
    font-size: 17px;
    }
  .text p{
    font-size: 15px;
  }
  .icons_pro p {
    font-size: 9px;
  }
 }

 @media screen and (max-width: 365px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  p.header {
    font-size: 22px;
  }
  p.long_header{
    font-size: 16px;
    }
  .text p{
    font-size: 15px;
  }
  .icons_pro p {
    font-size: 8.5px;
  }
 }

 @media screen and (max-width: 330px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  p.header {
    font-size: 20px;
  }
  p.long_header{
    font-size: 14px;
    }
  .text p{
    font-size: 13px;
  }
  .icons_pro p {
    font-size: 7.5px;
  }

  .modal-content {
    width: 95%;
  }
 }