body {
	margin: 0;
  }

  .preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background:  #FEE7CA;
	z-index: 1001;
  }

  .preloader__image {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	transform: translate(-50%,-50%);
	background: url("../images/menu/4968609.png") no-repeat 50% 50%;
  }

  .loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
  }

  .loaded .preloader {
	display: none;
  }