
/* CLEANING ------------------ */

*{padding: 0;
	margin: 0;
	border: 0;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* FON -------------------- */

body::before {
  content: '';
  position: fixed; 
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: -10; 
  background: url("../images/menu/background.jpg") center / cover no-repeat;
  filter: blur(4px);
}

body {
margin: 0px;
}

/* FORM ------------------ */

.form {
    width: 100%;  
    height: 100%;
    margin: 0 auto;
    margin-top: 0px;
    margin-block-end: 0em;
  }
  
  header {
    position: fixed;
    width: 100%;  
    height: 14%;
    display: table;
    z-index: 1;
    background-color: #FEE7CA;
  }
    
    p.header {
      font-size: 25px;
    }
  
  header>p{
    text-align: center;
    font:25px ‘Roboto’,Century Gothic, sans-serif;
    font-weight: 800;
    color: #FEE7CA;
    background: linear-gradient(-135deg, rgb(26, 127, 97) , rgb(39, 31, 55));
    display: table-cell;
    vertical-align: middle;
  }
  
  .header_img {
    position: relative;
    margin: 0 auto;
    margin-top: 5%;
    width: 50%;
  }
  .header_img img {
    width: 100%;
  }
  
  .back {
    width: 4.5%;
   position: absolute;
   top: 50%;
   left: 3%;
   margin-top: -4%;
   z-index: 1;
   cursor: pointer;
  }

  /* BLOCKS ------------------ */

  .shop {
    top: 14%;
    background-color: #FEE7CA;
    height: 100%;
    position: relative;
  }
  
  .imagesContainer {
    display: flex;
    padding: 6% 4% 0 4% ;
  }
  
  
  .mainPhoto {
    width: 50%;
    margin: 0 3% 2% 1.5%;
    cursor: pointer;
  }
  
  .mainPhoto > img {
    width: 100%;
  }
  
  .restPhotos {
    width: 45%;
    flex-direction: column;
  }
  
  .photolist {
    display: flex;
    flex-wrap: wrap;
  }
  
  .photolist > li {
    list-style-type: none;
    margin: 0 3% 5% 0;
    width: 47%;
    cursor: pointer;
  }
  
  .photolist > li > img {
    width: 100%;
    height: 75px;
  }
  
  .post_delivery > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3%;
  }
  
  .post_delivery > div > p{
    text-align: left;
    font:14px ‘Roboto’,Century Gothic, sans-serif;
  }

  .post_header{
    color: #11423B;
    background: #FEE7CA;
    text-align: center;
    font:13px ‘Roboto’,Century Gothic, sans-serif;
  }

  .post_logo1{
    width: 9%;
    margin-right: 4%;
  }
  
  .post_logo2{
    width: 10%;
    margin-right: 3%;
  }
  
  .cost{
    display: flex;
  }
  
  .cost > button { 
    padding: 10px 10px;
    font:17px ‘Roboto’,Century Gothic, sans-serif;
    color: #FEE7CA;
    border-radius: 12px;
    font-weight: bold;
  }
  .price {
    left:18%;
    position: relative;
    background-color: rgb(39, 31, 55);
    cursor: default;
  }
  .pay {
     left:43%;
     position: relative;
     background-color: rgb(26, 127, 97);
  }
  
  .description {
    margin: 4% 6% ;
    font:15px ‘Roboto’,Century Gothic, sans-serif;
    color: #11423B;
  }


 /* ADAPTING -------------------- */

 @media screen and (max-width: 9999px) {
  .form {
     width: 27%;
  }
  header {
    width: 27%;
  }
}

@media screen and (max-width: 2000px) {
  .form {
    width: 27%;
 }
 header {
   width: 27%;
 }
 p.header {
  font-size: calc(22px + (17 + 17 * 0.7) * ((100vw - 1280px) / 2000));
 }
 p.long_header{
  font-size: calc(16px + (12 + 12 * 0.7) * ((100vw - 1280px) / 2000));
 }
 .cost > button {
  font-size: calc(13px + (15 + 15 * 0.7) * ((100vw - 1280px) / 2000));
 }
 .description {
  font-size: calc(14px + (13 + 13 * 0.7) * ((100vw - 1280px) / 2000));
 }
 .post_delivery > div > p{
  font-size: calc(12px + (10 + 10 * 0.7) * ((100vw - 1280px) / 2000));
 }
 .post_header{
   font-size: calc(11px + (10 + 10 * 0.7) * ((100vw - 1280px) / 2000));
 }

}

@media screen and (max-width: 1030px) {
  .form {
     width: 70%;
  }
  header {
    width: 70%;
  }
  p.header {
    font-size: 45px;
  }
  p.long_header{
    font-size: 32px;
    }
    .cost > button {
      font-size: 34px;
     }
     .description {
      font-size: 30px;
     }
     .post_delivery > div > p{
      font-size: 26px;
     }
     .post_header{
      font-size: 24px;
    }
}

@media screen and (max-width: 770px) {
  .form {
     width: 70%;
  }
  header {
    width: 70%;
  }
  p.header {
    font-size: 35px;
  }
  p.long_header{
    font-size: 23px;
    }
    .cost > button {
      font-size: 23px;
     }
     .description {
      font-size: 22px;
     }
     .post_delivery > div > p{
      font-size: 19px;
     }
     .post_header{
      font-size: 18px;
    }
}

@media screen and (max-width: 540px) {
  .form {
     width: 75%;
  }
  header {
    width: 75%;
  }
  p.header {
    font-size: 26px;
  }
  p.long_header{
    font-size: 17px;
    }
    .cost > button {
      font-size: 17px;
     }
     .description {
      font-size: 17px;
     }
     .post_delivery > div > p{
      font-size: 15px;
     }
     .post_header{
      font-size: 13px;
    }
}

@media screen and (max-width: 440px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  p.header {
    font-size: 25px;
  }
  p.long_header{
    font-size: 18px;
    }
    .cost > button {
      font-size: 17px;
     }
     .description {
      font-size: 17px;
     }
     .post_delivery > div > p{
      font-size: 15px;
     }
     .post_header{
      font-size: 13px;
    }
 }

 @media screen and (max-width: 385px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  p.header {
    font-size: 24px;
  }
  p.long_header{
    font-size: 17px;
    }
    .cost > button {
      font-size: 15px;
     }
     .description {
      font-size: 16px;
     }
     .post_delivery > div > p{
      font-size: 14px;
     }
     .post_header{
      font-size: 12px;
    }
 }

 @media screen and (max-width: 365px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  p.header {
    font-size: 22px;
  }
  p.long_header{
    font-size: 16px;
    }
    .cost > button {
      font-size: 14px;
     }
     .description {
      font-size: 15px;
     }
     .post_delivery > div > p{
      font-size: 13px;
     }
     .post_header{
      font-size: 11px;
    }
 }

 @media screen and (max-width: 330px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  p.header {
    font-size: 20px;
  }
  p.long_header{
    font-size: 14px;
    }
    .cost > button {
      font-size: 12px;
     }
     .description {
      font-size: 13px;
     }
     .post_delivery > div > p{
      font-size: 12px;
     }
     .post_header{
       font-size: 10px;
     }
 }