/* CLEANING ------------------- */

*{padding: 0;
	margin: 0;
	border: 0;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* FON ------------------- */

body::before {
  content: '';
  position: fixed; 
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: -10; 
  background: url("../images/menu/background.jpg") center / cover no-repeat;
  filter: blur(4px);
}
body {
  margin: 0px;
}

/* FORM -------------------- */

.form {
  width: 100%;  
  height: 100%;
  margin: 0 auto;
  margin-top: 0px;
  margin-block-end: 0em;
  background:#FEE7CA;
}

header {
  position: fixed;
  width: 100%;  
  height: 14%;
  background-color: #FEE7CA;
  display: table;
  z-index: 1;
}

.header {
  text-align: center;
  font:25px ‘Roboto’,Century Gothic, sans-serif;
  font-weight: 800;
  color: #FEE7CA;
  background: linear-gradient(-135deg, rgb(26, 127, 97) , rgb(39, 31, 55));
  display: table-cell;
  vertical-align: middle;
}

.header_img {
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  width: 50%;
}
.header_img img {
  width: 100%;
}

.back {
  width: 4.5%;
 position: absolute;
 top: 50%;
 left: 3%;
 margin-top: -4%;
 z-index: 1;
}

/* TEXT ------------------ */

.text {
  position: relative;
  width: 100%;  
  height: 100%;
  background:  #FEE7CA;
  margin: 0 auto;
  top:14%;
}

p{
  color: #11423B;
  background: #FEE7CA;
  padding: 0 9% 0 9%;
  text-indent: 10px;
  margin:0;
  font-weight: normal;
  font:17px ‘Roboto’,Century Gothic, sans-serif;
}

.last_p {
  padding-bottom: 10%;
}

span#red {
  color: #be2e31;
  font-weight: bold;
}

span#yellow {
  color: #C9830F;
  font-weight: bold;
}

.avtor{
  float: right;
}

/* ICONS ------------------- */

.icon{
  position: relative;
  width: 45%;
  margin: 0 auto;
  padding: 2% 0 2% 0;
}
.icon img {
  width: 100%;
}

.icons_pro {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  padding:  0 10% 0 4%;
}

.icons_pro li {
  width: 20%;
  display: inline-block;
  margin: 0 0 10% 6.5%;
  position: relative;
  text-align: center;
}

.icons_pro p {
  vertical-align: top;
  color: #11423B;
  margin: 0;
  font:10px ‘Roboto’,Century Gothic, sans-serif;
  text-indent: unset;
  font-weight:  bold;
}

.two_line_text{
  opacity: 0;
}

.img_pro {
  width: 100%;
}

.creator{
  width: 100%;
  height: 15%;
  background-color: #FEE7CA;
}
/* ADAPTING -------------------- */

@media screen and (max-width: 9999px) {
  .form {
     width: 27%;
  }
  header {
    width: 27%;
  }
}

@media screen and (max-width: 4000px) {
  .form {
     width: 27%;
  }
  header {
    width: 27%;
  }
  .header {
    font-size: 30px;
  }
  .text {
    font-size: 25px;
  }
}

@media screen and (max-width: 1800px) {
  .form {
    width: 27%;
 }
 header {
   width: 27%;
 }
 .header {
   font-size: 25px;
 }
 .text {
   font-size: 17px;
 }
}

@media screen and (max-width: 1400px) {
  .form {
    width: 27%;
 }
 header {
   width: 27%;
 }
 .header {
   font-size: 24px;
 }
 .text {
   font-size: 16px;
 }
}

@media screen and (max-width: 770px) {
  .form {
     width: 70%;
  }
  header {
    width: 70%;
  }
  .header {
    font-size: 35px;
  }
  .text {
    font-size: 24px;
  }
}

@media screen and (max-width: 540px) {
  .form {
     width: 75%;
  }
  header {
    width: 75%;
  }
  .header {
    font-size: 26px;
  }
  .text {
    font-size: 18px;
  }
}

@media screen and (max-width: 440px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  .header {
    font-size: 25px;
  }
  .text {
    font-size: 17px;
  }
 }

 @media screen and (max-width: 385px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  .header {
    font-size: 24px;
  }
  .text {
    font-size: 16px;
  }
 }

 @media screen and (max-width: 365px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  .header {
    font-size: 22px;
  }
  .text {
    font-size: 15px;
  }
 }

 @media screen and (max-width: 330px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  .header {
    font-size: 20px;
  }
  .text {
    font-size: 13px;
  }
 }