/* CLEANING ------------------- */

*{padding: 0;
	margin: 0;
	border: 0;}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* FON ------------------- */

body::before {
  content: '';
  position: fixed; 
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: -10; 
  background: url("https://firebasestorage.googleapis.com/v0/b/goodtime-16b9c.appspot.com/o/fon.jpg?alt=media&token=161973d4-d3a4-4893-b419-558374f5a473") center / cover no-repeat;
  filter: blur(4px);
}
body {
  margin: 0px;
}

/* FORM -------------------- */

.form {
  width: 100%;  
  height: 100%;
  margin: 0 auto;
  margin-top: 0px;
  margin-block-end: 0em;
  background:#FEE7CA;
}

header {
  position: fixed;
  width: 100%;  
  height: 14%;
  background:#FEE7CA;
  z-index: 1;
  display: table;
}

.header {
  text-align: center;
  font:25px ‘Roboto’, Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #11423b;
  display: table-cell;
  vertical-align: middle;
}

.back {
  width: 4.5%;
 position: absolute;
 top: 50%;
 left: 3%;
 margin-top: -4%;
 z-index: 1;
}

/* TEXT ------------------ */

.text {
  position: relative;
  width: 100%;  
  height: 100%;
  background:  #FEE7CA;
  margin: 0 auto;
  top:14%;
  font:17px ‘Roboto’, Arial, Helvetica, sans-serif;
}

p{
  background: #FEE7CA;
  padding: 0 9% 0 9%;
  text-indent: 10px;
  margin:0;
}

.last_p {
  padding-bottom: 10%;
}

span#red {
  color: #be2e31;
}

/* ICONS ------------------- */

.icon{
  position: relative;
  width: 45%;
  margin: 0 auto;
  padding: 2% 0 2% 0;
}
.icon img {
  width: 100%;
}

/* ADAPTING -------------------- */

@media screen and (max-width: 4000px) {
  .form {
     width: 27%;
  }
  header {
    width: 27%;
  }
  .header {
    font-size: 30px;
  }
  .text {
    font-size: 25px;
  }
}

@media screen and (max-width: 1800px) {
  .form {
    width: 27%;
 }
 header {
   width: 27%;
 }
 .header {
   font-size: 25px;
 }
 .text {
   font-size: 17px;
 }
}

@media screen and (max-width: 1300px) {
  .form {
     width: 29%;
  }
}

@media screen and (max-width: 1100px) {
  .form {
     width: 70%;
  }
  header {
    width: 70%;
  }
  .header {
    font-size: 50px;
  }
  .text {
    font-size: 34px;
  }
}

@media screen and (max-width: 770px) {
  .form {
     width: 70%;
  }
  header {
    width: 70%;
  }
  .header {
    font-size: 35px;
  }
  .text {
    font-size: 24px;
  }
}

@media screen and (max-width: 540px) {
  .form {
     width: 75%;
  }
  header {
    width: 75%;
  }
  .header {
    font-size: 26px;
  }
  .text {
    font-size: 18px;
  }
}

@media screen and (max-width: 440px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  .header {
    font-size: 25px;
  }
  .text {
    font-size: 17px;
  }
 }

 @media screen and (max-width: 385px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  .header {
    font-size: 24px;
  }
  .text {
    font-size: 16px;
  }
 }

 @media screen and (max-width: 365px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  .header {
    font-size: 22px;
  }
  .text {
    font-size: 15px;
  }
 }

 @media screen and (max-width: 330px) {
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
  .header {
    font-size: 20px;
  }
  .text {
    font-size: 13px;
  }
 }

 /* ROTATION ---------------- */

@media screen and (orientation:landscape) and (max-device-height: 440px) {
  html{
           -webkit-transform: rotate(-90deg);
           -moz-transform: rotate(-90deg);
           -ms-transform: rotate(-90deg);
           -o-transform: rotate(-90deg);
           transform: rotate(-90deg);
           -webkit-transform-origin: left top;
           -moz-transform-origin: left top;
           -ms-transform-origin: left top;
           -o-transform-origin: left top;
           transform-origin: left top;
      height: 100vw;
      width: 100vh;
      position: absolute;
      top: 100%;
      left: 0;
  }
  .form {
    width: 100%;
  }
}

@media screen and (orientation:landscape) and (max-device-width: 1370px) {
  .form {
    width: 45%;
  }
  header{
    width: 45%;
  }
  .text {
    font-size: 28px;
  }
  .header {
    font-size: 40px;
  }
}

@media screen and (orientation:landscape) and (max-device-height: 770px) {
  .form {
    width: 45%;
  }
  header{
    width: 45%;
  }
  .text {
    font-size: 20px;
  }
  .header {
    font-size: 30px;
  }
}

@media screen and (orientation:landscape) and (max-device-height: 540px) {
  .text {
    font-size: 12px;
  }
  .header {
    font-size: 20px;
  }
  .form {
    width: 45%;
  }
  header{
    width: 45%;
  }
}

@media screen and (orientation:landscape) and (max-device-height: 440px) {
  .text {
    font-size: 17px;
  }
  .header {
    font-size: 25px;
  }
  .form {
    width: 100%;
  }
  header{
    width: 100%;
  }
}

@media screen and (orientation:landscape) and (max-device-height: 385px) {
  .text {
    font-size: 16px;
  }
  .header {
    font-size: 24px;
  }
}

@media screen and (orientation:landscape) and (max-device-height: 385px) {
  .text {
    font-size: 15px;
  }
  .header {
    font-size: 22px;
  }
}

@media screen and (orientation:landscape) and (max-device-height: 330px) {
  .text {
    font-size: 13px;
  }
  .header {
    font-size: 20px;
  }
}